.top-section {
  display: grid;
  margin-left: 1em;
  // place-content: center;
}

.categories-section {
  display: grid;
  text-align: center;
  border-radius: 25px;
  grid-template-columns: repeat(auto-fill, 20rem);
  gap: 1rem;
}

.search-recipes {
  width: 98%;
}

.mat-display-3 {
  margin: 0 0 45px;
}
