.example-spacer {
  flex: 1 1 auto;
}

.toolbar {
  background-color: var(--color-background)
}

.favorites-link {
  text-decoration: none;
  color: white;
  background-color: var(--color-primary);
  padding: 0.2em 0.9em;
  margin: 0.5em;
  border-radius: 25px;
  font-size: 0.8em;
}

.container {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
}

.example-sidenav {
  display: grid;
  grid-template-columns: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
