.recipe-card {
  display: flex;
  flex-direction: column;
	justify-content: center;
  align-items: center;
}

.input-field {
  // max-width: 150px;
}

.add-comment-btn {
  background-color: var(--color-primary);
  color: white;
}

.comment-section {
  display: grid;
}

.empty {
  color: grey;
}

.full {
  color: red;
}

.recipe-image {
  width: 100px;
  height: 100px;
  background-color: yellow;
  margin: 0;
  align-items: center;
  justify-content: center;
}
