<div class="container">
  <mat-card *ngIf="recipeData" class="recipe-card">
    <mat-card-title-group>
      <mat-card-title>{{recipeData.dish}}</mat-card-title>
      <mat-card-subtitle>{{ recipeData.description }}</mat-card-subtitle>
      <!-- <button (click)="addToFavorites(recipe.uid)" mat-icon-button
        [ngClass]="{'full' : favoriteStatus, 'empty': !favoriteStatus}" aria-label="Button to favorite a recipe">
        <mat-icon>favorite</mat-icon>
      </button> -->
    </mat-card-title-group>
    <div class="cooking-details">
      <div>
        <h4>Cooking Time</h4>
        <p>1 hour</p>
        <h4>Serving</h4>
        <p>2 people</p>
      </div>
      <div>
        <h3>Ingredients</h3>
        <p class="recipe-ingredient">{{ recipeData.ingredient }}</p>
        <p class="recipe-ingredient">{{ recipeData.ingredient }}</p>
        <p class="recipe-ingredient">{{ recipeData.ingredient }}</p>
        <p class="recipe-ingredient">{{ recipeData.ingredient }}</p>
      </div>
    </div>
    <!-- <div class="comment-section">
      <mat-form-field class="input-field" appearance="fill">
        <mat-label>Comment</mat-label>
        <input matInput type="text" [formControl]="getFormConrol(recipe.uid)" id="recipe.id" />
      </mat-form-field>
      <button mat-raised-button class="add-comment-btn" (click)="addComment(recipe.uid, getFormConrol(recipe.uid).value)">
        Add comment
      </button>
    </div> -->
    <div *ngFor="let comment of recipeData.comments;">
      {{comment}}
    </div>
  </mat-card>
  <div class="recipe-image">

  </div>
</div>
