.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));;
  height: 100vw;
}

.recipe-card {
  // height: 100vw;
}

.recipe-image {
  background-color: red;
}

.recipe-ingredient {
  max-width: 60%;
}

.cooking-details {
  display: grid;
  grid-template-columns: auto auto;
  gap: 5rem;
}

h3, h4 {
  font-weight: bold;
}

.comment-section {
  display: grid;
}
